header {
  background: url(../images/about-hero-image.png) center / cover;
}

header h1 {
  margin-left: 3%;
  margin-top: 2%;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #fff;
  text-align: left
}

header h2 {
  margin-left: 3%;
  margin-top: 5%;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
  text-align: left
}

header h3 {
  color: #fff;
  max-width: 500px;
}

h3 {
  margin: 3%;
}

p {
  margin-left: 3%;
}

.tools-and-tech img {
  margin: 3%;
}

.outside-design ul {
  margin: 3%;
  line-height: 30px;
}

/* about page styles */

.about-intro {
  margin-bottom: 3%;
  margin-left: 5%;
  margin-right: 5%;
  margin-top: 3%;
  text-align: center;
}

.about-intro img {
  padding: 2%;
}

#leo h3 {
  color: rgba(0,0,0,0.40);
}

.contact-footer {
  background: linear-gradient(#43A6DE, #1D6891);
}

footer {
  background: #fff;
}

.copyright {
  color: #000;
}

/* contact page styles */

#submit {
  border-style: none;
  background-color: #DE9B43;
  height: 40px;
  color: #fff;
}

#submit:hover {
  color: #000;
}

#thank-you {
  text-align: center;
  margin: 5% auto;
}
