header {
  background: url(../images/about-hero-image.png) center / cover;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  margin-left: 3%;
  margin-top: 2%;
  text-align: left
}

header h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-left: 3%;
  margin-top: 5%;
  text-align: left
}

header h3 {
  color: #fff;
  max-width: 500px;
}

h3 {
  margin: 3%;
}

p {
  margin-left: 3%;
}

.tools-and-tech img {
  margin: 3%;
}

.outside-design ul {
  line-height: 1.875rem;
  margin: 3%;
}

/* about page styles */

.about-intro {
  margin-top: 3%;
  margin-right: 5%;
  margin-bottom: 3%;
  margin-left: 5%;
  text-align: center;
}

.about-intro img {
  padding: 2%;
}

#leo h3 {
  color: rgba(0,0,0,0.40);
}

.contact-footer {
  background: linear-gradient(#43A6DE, #1D6891);
}

footer {
  background: #fff;
}

.copyright {
  color: #000;
}

/* contact page styles */

#submit {
  border-style: none;
  background-color: #DE9B43;
  color: #fff;
  height: 2.5rem;
}

#submit:hover {
  color: #000;
}

#thank-you {
  margin: 5% auto;
  text-align: center;
}
