header {
  background: url(../images/about-hero-image.png) center / cover;
  background-repeat: no-repeat;
}

header h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  margin-left: 4%;
  margin-top: 2%;
  text-align: left
}

header h2 {
  color: #fff;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  margin-left: 4%;
  margin-top: 5%;
  text-align: left
}

header h3 {
  color: #fff;
  max-width: 50%;
  margin-left: 4%;
}

.mobile-intro {
  display: none;
}

@media screen and (max-width: 600px) {
  header {
    background-position: right;
  }

  header h1 {
    font-size: 2rem;
  }

  header h2 {
    font-size: 1.25rem;
  }

  header h3 {
    display: none;
  }

  .mobile-intro {
    display: inline;
    margin: 20px auto;
  }
}

h3 {
  margin: 3%;
}

p {
  margin-left: 3%;
}

.tools-and-tech img {
  margin: 3%;
}

.outside-design ul {
  line-height: 1.875rem;
  margin: 3%;
}

/* about page styles */

.about-intro {
  margin: 3% 5%;
  text-align: center;
}

.about-intro img {
  padding: 2%;
  max-width: 100%;
  max-height: 100%;
}

#leo h3 {
  color: rgba(0,0,0,0.40);
}

.tools-and-tech {
  text-align: center;
}

.outside-design {
  text-align: center;
}

@media screen and (max-width: 999px) {
  .about-container {
  margin: 0 auto;
  width: 90%;
  }
}

@media screen and (min-width: 1000px) {
  .about-container {
    float: left;
    margin-left: 2%;
    margin-bottom: 5%;
    width: 60%;
  }

  .tools-and-tech {
    display: block;
    float: right;
    margin-top: 1.5%;
    text-align: center;
    width: 30%;
  }

  .outside-design {
    display: block;
    float: right;
    margin-top: 3%;
    text-align: left;
    width: 30%;
  }
}

.contact-footer {
  background: linear-gradient(#43A6DE, #1D6891);
}

footer {
  background: #fff;
}

.copyright {
  color: #000;
}

/* contact page styles */

#submit {
  border-style: none;
  background-color: #DE9B43;
  color: #fff;
  height: 2.5rem;
}

#submit:hover {
  color: #000;
}

#thank-you {
  margin: 5% auto;
  text-align: center;
}
