/*** unique global project styles ***/
/* header */
header {
  background: url(../images/briefcase/briefcase-hero-background.jpg) center / cover;
  background-repeat: no-repeat;
  height: 100%;
}

header .btn {
  display: block;
  margin: 1rem auto;
}

.project-image img {
  max-height: 100vh;
  max-width: 60vw;
}
/* compettive analysis */
.competitive-analysis {
  background: linear-gradient(rgba(52,112,117,1), rgba(52,112,117,0.75));
}

.competitor-logos {
  text-align: center;
}

.competitor-logos img {
  display: inline;
  margin: 3rem auto;
  padding: 0 2rem;
}

/* tablet competetive analysis */
@media screen and (max-width: 900px) {
  .competitor-logos img {
    margin: 0rem auto;
    padding: 1rem;
    width: 84px;
    height: 84px;
  }
}

/* tablet competetive analysis */
@media screen and (max-width: 600px) {
  .competitor-logos img {
    margin: 0 auto;
    padding: 1rem;
    width: 64px;
    height: 64px;
  }
}

/* user research */
.user-research {
  background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

.pie-chart-container, .bar-chart-container {
  display: block;
  position: relative;
  margin: 0 auto;
  padding-bottom: 1.25rem;
  max-width: 600px;
}

.bar-chart-container {
  padding: 1.25rem 0
}

/* mobile bar chart (hidden) */
@media screen and (max-width: 600px) {
  .bar-chart-container {
    display: none;
  }
}

/* personas */
.personas {
  background: linear-gradient(rgba(52, 112, 117, 1),rgba(52, 112, 117, 0.75));
}

.personas {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr;
  grid-template-areas:
  "personas-header"
  "personas-image"
  "personas-body"
  "personas-button";
  margin: 1rem;
}

#personas-body ul li {
  list-style-type: square;
  margin: 1.5rem;
  text-indent: 0;
}

#personas-header {
  grid-area: personas-header;
}

#personas-body {
  grid-area: personas-body;
}

#personas-image {
  grid-area: personas-image;
  margin: 0 auto;
}

#personas-button {
  grid-area: personas-button;
}

/* tablet personas */
@media screen and (max-width: 900px) {
  .personas {
    grid-template-columns: 1fr;
    grid-template-areas:
    "personas-header"
    "personas-image"
    "personas-body"
    "personas-button";
    margin: 1rem;
  }

  #personas-image {
    max-width: 90%;
  }
}

/* mobile personas */
@media screen and (max-width: 600px) {
  #personas-image {
    display: none;
  }
}

/*** information architecture section: user stories & flows ***/
.information-architecture {
  background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

#user-stories-button {
  margin: 2rem auto;
}

.user-flow-images {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "onboarding sign-in"
  "onboarding-text sign-in-text"
  "upload upload"
  "upload-text upload-text";
  margin: 1rem auto;
}

#onboarding, #sign-in, #upload {
  margin: 0 auto;
  max-width: 100%;
  padding-top: 2rem;
}

#onboarding {
  grid-area: onboarding;
}
#onboarding-text {
  grid-area: onboarding-text;
}
#sign-in {
  grid-area: sign-in;
}
#sign-in-text {
  grid-area: sign-in-text;
}
#upload {
  grid-area: upload;
  max-width: 30%;
}
#upload-text {
  grid-area: upload-text;
}

/* tablet & mobile user flows */
@media screen and (max-width: 900px) {
  .user-flow-images {
    grid-template-columns: 1fr;
    grid-template-areas:
    "onboarding"
    "onboarding-text"
    "sign-in"
    "sign-in-text"
    "upload"
    "upload-text";
    margin: 1rem auto;
  }

  #upload {
    max-width: 70%;
  }
}

/*** visual design branding section: wireframes & branding ***/
.visual-design-branding {
  background: linear-gradient(rgba(52, 112, 117, 1),rgba(52, 112, 117, 0.75));
}

.wireframe-images {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "wf-01a wf-01b wf-01c wf-01d"
  "cap-01 cap-01 cap-01 cap-01"
  "wf-02 wf-03 wf-04 wf-05"
  "cap-02 cap-02 cap-02 cap-02";
  margin: 2rem auto;
}

#wf-01a, #wf-01b, #wf-01c, #wf-01d, #wf-02, #wf-03, #wf-04, #wf-05, #hf-01, #hf-02, #hf-03, #hf-04 {
  margin: 0 auto;
  max-width: 100%;
}

#wf-01a {
  grid-area: wf-01a;
}
#wf-01b {
  grid-area: wf-01b;
}
#wf-01c {
  grid-area: wf-01c;
}
#wf-01d {
  grid-area: wf-01d;
}
#wf-02 {
  grid-area: wf-02;
}
#wf-03 {
  grid-area: wf-03;
}
#wf-04 {
  grid-area: wf-04;
}
#wf-05 {
  grid-area: wf-05;
}
#cap-01 {
  grid-area: cap-01;
}
#cap-02 {
  grid-area: cap-02;
}


/* tablet wireframes */
@media screen and (max-width: 900px) {
  .wireframe-images {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "wf-01a wf-01b"
    "wf-01c wf-01d"
    "cap-01 cap-01"
    "wf-02 wf-03"
    "wf-04 wf-05"
    "cap-02 cap-02";
  }
}

/* mobile wireframes */
@media screen and (max-width: 600px) {
  .wireframe-images {
    display: none;
  }
}

/* hi-fi mockups */
.hifi-mockup-images {
  display: grid;
  grid-auto-rows: minmax(50px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "hf-01 hf-02 hf-03 hf-04"
  "cap-03 cap-04 cap-05 cap-06";
  margin: 2rem auto;
}

#hf-01 {
  grid-area: hf-01;
}
#hf-02 {
  grid-area: hf-02;
}
#hf-03 {
  grid-area: hf-03;
}
#hf-04 {
  grid-area: hf-04;
}
#cap-03 {
  grid-area: cap-03;
}
#cap-04 {
  grid-area: cap-04;
}
#cap-05 {
  grid-area: cap-05;
}
#cap-06 {
  grid-area: cap-06;
}

/* tablet hi-fi mockups */
@media screen and (max-width: 900px) {
  .hifi-mockup-images {
    grid-template-columns: 1fr 1fr;
    grid-template-areas:
    "hf-01 hf-02"
    "cap-03 cap-04"
    "hf-03 hf-04"
    "cap-05 cap-06";
  }
}

/* mobile hi-fi mockups */
@media screen and (max-width: 600px) {
  .hifi-mockup-images {
    display: none;
  }
}

/* branding */
.branding {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "branding-header ."
  "branding-body briefcase-branding"
  "branding-button briefcase-branding";
}

#briefcase-branding img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 1rem;
}

#briefcase-branding h6 {
  padding-top: 1rem;
  text-align: center;
}

#branding-header {
  grid-area: branding-header;
  padding: 0;
}
#branding-body {
  grid-area: branding-body;
}
#briefcase-branding {
  grid-area: briefcase-branding;
}
#branding-button {
  grid-area: branding-button;
}

/* table & mobile branding */
@media screen and (max-width: 900px) {
  .branding {
    grid-template-columns: 1fr;
    grid-template-areas:
    "branding-header"
    "branding-body"
    "briefcase-branding"
    "branding-button";
  }
}

/*** clickable prototype testing section ***/
.clickable-prototype-testing {
  background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

.prototype {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "desktop-image mobile-image"
  "desktop-link mobile-link";
  margin-top: 2rem;
}

.prototype button {
  width: 100%;
}

#desktop-image, #mobile-image {
  display: block;
  margin: 0 auto;
}

#desktop-image {
  height: 210px;
}

#desktop-link, #mobile-link {
  margin-top: 2rem;
}

#desktop-image {
  grid-area: desktop-image;
}
#mobile-image {
  grid-area: mobile-image;
}
#desktop-link {
  grid-area: desktop-link;
}
#mobile-link {
  grid-area: mobile-link;
}

@media screen and (max-width: 900px) {
  .prototype {
    grid-template-columns: 1fr;
    grid-template-areas:
    "desktop-image"
    "desktop-link"
    "mobile-image"
    "mobile-link";
  }

  #desktop-prototype {
    margin-bottom: 2rem;
  }
}

@media screen and (max-width: 600px) {
  #desktop-prototype {
    display: none;
  }

  .prototype button {
    width: 90%;
  }
}

#pref-test-image {
  display: block;
  margin: 0 auto;
  padding: 5vh 0;
  width: 50%;
}

@media screen and (max-width: 900px) {
  #pref-test-image {
    width: 90%;
  }
}

/*** conclusion section ***/
.conclusion {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "conclusion-header ."
  "logo conclusion-body"
  "key-takeaways conclusion-body";
}

.conclusion > div img {
  display: block;
  margin: 0 auto;
}

#alt-logo {
  grid-area: logo;
}
#key-takeaways {
  grid-area: key-takeaways;
}
#conclusion-header {
  grid-area: conclusion-header;
  padding: 0;
}
#conclusion-body {
  grid-area: conclusion-body;
}

/* table & mobile conclusion */
@media screen and (max-width: 900px) {
  .conclusion {
    grid-template-columns: 1fr;
    grid-template-areas:
    "conclusion-header"
    "logo"
    "key-takeaways"
    "conclusion-body";
  }
}

@media screen and (max-width: 600px) {
  .conclusion > div img {
    max-width: 100%;
  }
}
