/* hero image & header */
header {
  background: url(../assets/landing/landing-page-hero-image.png) center / cover;
  background-repeat: no-repeat;
}

h1, h2 {
  margin: 2rem auto;
  max-width: 50%;
}

.changing-word {
  display: inline;
  margin-left: 0.05rem;
}

.changing-word span {
  display: inline-block;
}

.static-word span {
  display: none;
}

/* tablet landing page header */
@media screen and (max-width: 900px) {
  header {
    background-position: left;
    height: 400px;
    text-align: center;
  }

  h1, h2 {
    font-size: 1.75rem;
    margin: 0 auto;
    max-width: 90%;
  }

  .changing-word {
    display: none;
  }

  .static-word span {
    display: inline-block;
  }
}

/* mobile landing page header */
@media screen and (max-width: 600px) {
  header {
    background-position: left;
    height: 250px;
    text-align: center;
  }

  nav {
    margin-bottom: 0;
  }

  h1, h2 {
    font-size: 1.5rem;
    line-height: 2rem;
  }
}

/* Recent Work & Process */
.projects {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 0;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "blocjams briefcase"
  "twitch twitch";
}

#briefcase img {
  padding-bottom: 19px;
}

#blocjams {
  background: linear-gradient(to right, #5A2F53, #9E588A, #000000);
  grid-area: blocjams;
}
#briefcase {
  background: linear-gradient(rgba(52,112,117,1), rgba(52,112,117,0.5));
  grid-area: briefcase;
}
#twitch-designs {
  background: #6441A4;
  grid-area: twitch;
  padding-bottom: 10px;
}

/* tablet & mobile projects */
@media screen and (max-width: 900px) {
  .projects {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 0;
    grid-template-columns: 1fr;
    grid-template-areas:
    "blocjams"
    "briefcase"
    "twitch";
  }

  .projects img {
    max-width: 80%;
  }
}

/* landing page contact footer image */
.contact-footer {
  background: url(../assets/landing/footer-image.png);
  background-repeat: no-repeat;
  background-size: cover;
}

/* mobile landing page footer */
@media screen and (max-width: 600px) {
  .contact-footer {
    background: #333;
    height: 100%;
  }

  .contact-footer h4 {
    font-size: 1.5rem;
    max-width: 90%;
  }
}
