header {
  height: 500px;
  width: 100%;
  background: url(../images/landing-page-hero-image.png) center / cover;
  display: inline-block;
}

header h1 {
  margin-left: 35%;
  margin-bottom: 2%;
  max-width: 600px;
  font-size: 48px;
  font-weight: 600;
  line-height: 60px;
  color: #fff;
  text-align: left;
}

header h2 {
  margin-left: 35%;
  max-width: 600px;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  color: #fff;
  text-align: left;
}

 /* header animation */

@-webkit-keyframes "fade" {
  0% { opacity: 0; transform: translateY(-15px); }
  25% { opacity: 0; transform: translateY(-7.5px); }
  50% { opacity: 1; transform: translateY(0px); }
  75% { opacity: 0; transform: translateY(7.5px); }
  100% { opacity: 0; transform: translateY(15px); }
}
.changing-word span {
  color: #DE9B43;
  display: inline;
  position: absolute;
  -webkit-animation: "fade" 10s infinite;
  opacity: 0;
}

.changing-word span:nth-child(2) {
  -webkit-animation-delay: 2s;
}

.changing-word span:nth-child(3) {
  -webkit-animation-delay: 4s;
}

.changing-word span:nth-child(4) {
  -webkit-animation-delay: 6s;
}

.changing-word span:nth-child(5) {
  -webkit-animation-delay: 8s;
}

#post-change {
  text-indent: 170px;
  display: inline;
  position: absolute;
}

/* projects */

.projects {
  display: block;
}

.projects > div {
  padding-bottom: 30px;
}

.projects > div img {
  border: none;
  display: block;
  margin: 0 auto;
  padding-top: 30px;
}

.projects > div h4 {
  color: #fff;
  margin: 10px;
  text-align: center;
  font-weight: 400;
  padding: 30px;
}

.projects > div button {
  display: block;
  border-style: none;
  width: 90%;
  margin-left: 5%;
}

#blocjams {
  background: linear-gradient(to right, #5A2F53, #9E588A, #000000);
}

#briefcase {
  background: linear-gradient(#347075 100%, #347075 50%);
}

/* my process */

.my-process {
  margin: 30px 50px;
}

.my-process h3, h5 {
  text-align: center;
  margin: 30px;
}

.my-process img {
  border: none;
  display: block;
  margin: 0 auto;
}

.my-process p {
  margin-top: 30px;
  margin-bottom: 50px;
}


/* contact info */

.contact-footer {
  height: 440px;
  width: 100%;
  background: url(../images/footer-image.png) center / cover;
  background-repeat: no-repeat;
  display: inline-block;
}

.contact-footer h3, h4 {
  color: #fff;
  text-align: center;
  margin: 50px;
  font-size: 48px;
  font-weight: 600;
}

.contact-footer h4 {
  font-size: 36px;
  font-weight: 400;
  line-height: 60px;
}

.contact-footer button {
  display: block;
  border-style: none;
  width: 90%;
  margin-left: 5%;
}
