/* Style Reset */
html body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

nav {
  font-family: "Signika", sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: lighter;
  height: 58px;
  padding: 20px;
}

nav img {
  float: left;
  margin: 20px;
}

.nav-menu li {
  float: right;
  display: inline;
  list-style-type: none;
}

a {
  color: #fff;
  text-decoration: none;
  padding: 0px 30px;
}

a:hover {
  color: #000;
}

a:active {
  color: #DE9B43;
}

h1, h2, h3, h4, h5 {
  font-family: "Signika", sans-serif;
  color: #fff;
}

h1, h2 {
  font-weight: bold;
}

h3, h4, h5 {
  font-weight: normal;
}

h1 {
  font-size: 48px;
  line-height: 60px;
}

h2 {
  font-size: 36px;
  line-height: 42px;
}

h3 {
  font-size: 30px;
  line-height: 42px;
}

h4 {
  font-size: 24px;
  line-height: 36px;
}

h5 {
  font-size: 20px;
  line-height: 26px;
}

p, ul {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-size: 16px;
  font-weight: normal;
  line-height: 24px;
}

button {
  background-color: #DE9B43;
  width: 258px;
  height: 50px;
  font-family: "Signika", sans-serif;
  color: #fff;
  font-size: 20px;
  box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
}

footer {
  height: 55px;
  background: linear-gradient(#43A6DE, #1D6891);
}

#copyright {
  float: left;
  display: inline;
  padding: 20px 0px 0px 10px;
  font-family: "Signika", sans-serif;
  color: #000;
  font-size: 13px;
  font-weight: 400;
}

#footer-icons {
  float: right;
  display: inline;
  padding-top: 15px;
}
