/* header */
header {
  background: linear-gradient(#347075, #000000);
  height: 800px;
}

h1 {
  display: block;
  margin: 2rem auto;
  text-align: center;
}

header h3 {
  color: #fff;
  margin: 2rem auto;
  max-width: 90%;
  text-align: center;
}

.project-image {
  float: none;
  margin: 0 auto;
  text-align: center;
}

header button {
  display: block;
  margin: 2rem auto;
  position: relative;
}

.project-image img {
  max-height: 100%;
  max-width: 100%
}

/* repsonsive header (mobile devices) */
@media screen and (max-width: 1040px) {
  header h3 {
    margin: 1rem auto;
    padding-bottom: 1rem;
    text-align: center;
  }

  header button {
    margin-top: 2rem;
  }
}

@media screen and (max-width: 600px) {
  header {
    height: 400px;
  }

  header h3 {
    padding-bottom: 0;
    text-align: center;
  }

  .project-image {
    display: none;
  }

  header button {
    margin-top: 0 auto;
    width: 90%;
  }
}

/* projects - general styling */

.project-process > div, .information-architecture > div, .visual-design-branding > div, .clickable-prototype-testing, .conclusion, .projects-carousel {
  margin: 0 auto;
  padding: 2rem;
  width: 100%;
}

button {
  display: block;
  margin: 2rem auto 0;
}

/* projects - typography */
h3 {
  padding-bottom: 2rem;
}

h4 {
  padding-bottom: 1.25rem;
}

p {
  line-height: 2rem;
}

h5 {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0;
  line-height: 3rem;
}

li {
  font-weight: 600;
  line-height: 2rem;
  margin: 1rem auto;
  text-indent: 10%;
}

h3, h4, h5, li, p {
  color: #fff;
}

.conclusion h3, .conclusion li, .conclusion p {
  color: #000;
}

.emphasized {
  font-style: italic;
  font-weight: 700;
}

/* overview */
.overview {
  background: #fff;
  display: grid;
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "roles roles deliverables deliverables tools tools"
  "problem problem problem solution solution solution";
  margin: 1rem;
}

.roles {
  grid-area: roles;
}

.deliverables {
  grid-area: deliverables;
}

.tools {
  grid-area: tools;
}

.problem {
  grid-area: problem;
}

.solution {
  grid-area: solution;
}

.overview > div {
  background: #f0f0f0;
}

.roles, .deliverables, .tools {
  text-align: center;
}

.overview h3, .overview h4, .overview li, .overview p {
    color: #000;
}

.roles h3, .deliverables h3, .tools h3 {
  margin: 1rem auto;
}

.roles li, .deliverables li, .tools li {
  font-weight: 400;
  line-height: 3rem;
  text-indent: 0;
}

.problem h3, .solution h3 {
  margin: 1rem;
}

.problem h5, .solution h5 {
  color: #999;
  font-size: 1rem;
  margin: 1rem;
}

.problem p, .solution p {
  line-height: 3rem;
  margin: 1rem;
}

/* responsive overview (mobile/tablet devices) */
@media screen and (max-width: 700px) {
  .overview {
    grid-template-columns: 1fr;
    grid-template-areas:
    "roles"
    "deliverables"
    "tools"
    "problem"
    "solution";
    margin: 0 auto;
  }
}

/* compettive analysis */
.competitive-analysis {
  background: linear-gradient(rgba(52,112,117,1), rgba(52,112,117,0.75));
}

.competitor-logos {
  text-align: center;
}

.competitor-logos img {
  display: inline;
  margin: 3rem;
  max-width: 100%;
  max-height: 100%;
  padding: 0 2rem;
}

/* user research */
.user-research {
    background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

/* personas */

.personas {
    background: linear-gradient(rgba(52, 112, 117, 1),rgba(52, 112, 117, 0.75));
}

.personas img {
  display: block;
  margin: 3rem auto;
  max-width: 90%;
}

/*** information architecture section: user stories & flows ***/
.information-architecture {
    background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

#user-stories-button {
  margin: 2rem auto;
}

.user-flow-images {
  display: grid;
  grid-auto-rows: minmax(650px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "onboarding sign-in"
  "upload upload";
  margin: 4rem auto;
}

#onboarding {
  grid-area: onboarding;
  margin: 0 auto;
}

#sign-in {
  grid-area: sign-in;
  margin: 0 auto;
}

#upload {
  grid-area: upload;
  margin: 0 auto;
}

/* responsive user-flows (tablet devices) */
@media screen and (max-width: 1040px) {
  .user-flow-images {
    grid-auto-rows: minmax(500px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "onboarding"
    "sign-in"
    "upload";
    margin: 4rem auto;
  }
}

/* responsive user-flows (mobile devices) */
@media screen and (max-width: 600px) {
  .user-flow-images {
    grid-auto-rows: minmax(250px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "onboarding"
    "sign-in"
    "upload";
    margin: 4rem auto;
  }

  .user-flow-images img {
    max-width: 100%;
  }
}

/*** visual design branding section: wireframes & branding ***/
.visual-design-branding {
  background: linear-gradient(rgba(52, 112, 117, 1),rgba(52, 112, 117, 0.75));
}

.wireframe-images {
  display: grid;
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "wf-01 wf-01"
  "wf-02 wf-03"
  "wf-04 wf-05";
  margin: 4rem auto;
}

#wf-01 {
  grid-area: wf-01;
  margin: 0 auto;
}

#wf-02 {
  grid-area: wf-02;
  margin: 0 auto;
}

#wf-03 {
  grid-area: wf-03;
  margin: 0 auto;
}

#wf-04 {
  grid-area: wf-04;
  margin: 0 auto;
}

#wf-05 {
  grid-area: wf-05;
  margin: 0 auto;
}

/* responsive user-flows (mobile/tablet devices) */
@media screen and (max-width: 1040px) {
  .wireframe-images {
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "wf-01"
    "wf-02"
    "wf-03"
    "wf-04"
    "wf-05";
    margin: 4rem auto;
  }

  .wireframe-images img {
    max-width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .wireframe-images {
    display: none;
  }

  .wireframes p {
    margin: 1rem;
  }
}

.hifi-mockup-images {
  display: grid;
  grid-auto-rows: minmax(500px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "hf-01 hf-02"
  "hf-03 hf-04";
  margin: 4rem auto;
}

#hf-01 {
  grid-area: hf-01;
  margin: 0 auto;
}

#hf-02 {
  grid-area: hf-02;
  margin: 0 auto;
}

#hf-03 {
  grid-area: hf-03;
  margin: 0 auto;
}

#hf-04 {
  grid-area: hf-04;
  margin: 0 auto;
}

/* responsive user-flows (mobile/tablet devices) */
@media screen and (max-width: 1040px) {
  .hifi-mockup-images {
    grid-auto-rows: minmax(200px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "hf-01"
    "hf-02"
    "hf-03"
    "hf-04";
    margin: 4rem auto;
  }
}

@media screen and (max-width: 600px) {
  .hifi-mockup-images {
    display: none;
  }
}

#briefcase-branding img {
  display: block;
  margin: 4rem auto 2rem;
}

@media screen and (max-width: 1040px) {
  #briefcase-branding img {
    max-width: 90%;
  }
}

#briefcase-branding h5 {
  text-align: center;
}

/*** clickable prototype testing section ***/
.clickable-prototype-testing {
    background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

.prototype {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "desktop-image mobile-image"
  "desktop-link mobile-link";
  margin-top: 2rem;
}

.prototype button {
  width: 400px;
}

#desktop-image {
  display: block;
  grid-area: desktop-image;
  margin: 0 auto;
}

#mobile-image {
  display: block;
  grid-area: mobile-image;
  margin: 0 auto;
  padding: 39px 0;
}

#desktop-link {
  grid-area: desktop-link;
  margin: 2rem auto;
}

#mobile-link {
  grid-area: mobile-link;
  margin: 2rem auto;
}

@media screen and (max-width: 1040px) {
  .prototype {
    display: grid;
    grid-auto-rows: minmax(20px, auto);
    grid-gap: 1rem;
    grid-template-columns: 1fr;
    grid-template-areas:
    "desktop-image"
    "desktop-link"
    "mobile-image"
    "mobile-link";
  }
}

@media screen and (max-width: 600px) {
  #desktop-prototype {
    display: none;
  }

  .prototype button {
    width: 90%;
  }
}

/*** conclusion section ***/
.conclusion > div img {
  display: block;
  margin: 0 auto;
}

@media screen and (max-width: 600px) {
  .conclusion > div img {
    max-width: 90%;
  }
}

/*** projects carousel section ***/
.projects-carousel {
  background: linear-gradient(#43A6DE, #1D6891);
  height: 100%;
  position: relative;
  text-align: center;
}

/* footer */
footer {
  position: relative;
  background: #fff;
}

.copyright {
  color: #000;
}
