/*** header ***/
header {
  background: linear-gradient(#347075, #000000);
  height: 100%;
}

h1 {
  margin: 1rem auto;
  text-align: center;
}

header h3 {
  margin: 1rem auto;
  max-width: 70%;
  padding: 0;
  text-align: center;
}

.project-image {
  text-align: center;
}

header button {
  display: block;
  margin: 2rem auto;
}

/* tablet header */
@media screen and (max-width: 900px) {
  header {
    height: 400px;
  }

  header h1 {
    font-size: 2rem;
    line-height: 2rem;
  }

  header h3 {
    font-size: 1.25rem;
    line-height: 1.5rem;
    max-width: 80%;
  }

  .project-image {
    display: none;
  }
}

/* mobile header */
@media screen and (max-width: 600px) {
  header {
    height: 250px;
  }

  header h1 {
    font-size: 1.5rem;
  }

  header h3 {
    font-size: 1.25rem;
    max-width: 90%;
  }

  header button {
    margin: 0 auto;
  }
}

/*** overview ***/
.overview {
  background: #fff;
  display: grid;
  grid-auto-rows: minmax(225px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "roles roles deliverables deliverables tools tools"
  "problem problem problem solution solution solution";
  margin: 1rem;
}

.roles {
  grid-area: roles;
}
.deliverables {
  grid-area: deliverables;
}
.tools {
  grid-area: tools;
}
.problem {
  grid-area: problem;
}
.solution {
  grid-area: solution;
}

.overview > div {
  background: #f0f0f0;
}

.overview h3, .overview h4, .overview li, .overview p {
  color: #000;
}

/* roles, deliverables, and tools */
.roles, .deliverables, .tools {
  text-align: center;
}

.roles h3, .deliverables h3, .tools h3 {
  margin: 1rem auto;
  padding-bottom: 0;
}

.roles li, .deliverables li, .tools li {
  font-weight: 400;
  line-height: 1.25rem;
  text-indent: 0;
}

/* problem & solution */
.problem h3, .solution h3 {
  margin: 0 5% 1rem 5%;
  padding-bottom: 0;
}

.problem h5, .solution h5 {
  color: #999;
  font-size: 1rem;
  margin: 1rem 5% 0 5%;
}

.problem p, .solution p {
  line-height: 2.5rem;
  margin: 1rem 5%;
}

/* tablet overview */
@media screen and (max-width: 900px) {
  .overview {
    grid-auto-rows: minmax(20px, auto);
    grid-template-columns: 1fr;
    grid-template-areas:
    "roles"
    "deliverables"
    "tools"
    "problem"
    "solution";
    margin: 1rem auto;
  }

  .problem h3, .problem h5, .problem p, .solution h3, .solution h5, .solution p {
    margin: 0 auto;
    max-width: 80%;
  }
}

/* projects - general styling */
.project-process > div, .information-architecture > div, .visual-design-branding > div, .clickable-prototype-testing, .conclusion {
  margin: 0 auto;
  padding: 2rem 15%;
  width: 100%;
}

.projects-carousel {
  padding: 2rem;
  width: 100%;
}

button {
  display: block;
  margin: 2rem auto 0;
}

/* projects - typography */
h3 {
  padding-bottom: 1rem;
}

h4 {
  padding-bottom: 1.25rem;
}

p {
  line-height: 2rem;
}

h5 {
  font-size: 1.10rem;
  font-weight: 600;
  letter-spacing: 1.5px;
  line-height: 2rem;
}

li {
  font-weight: 600;
  line-height: 2rem;
  margin: 1rem auto;
  text-indent: 3%;
}

h3, h4, h5, li, p {
  color: #fff;
}

.conclusion h3, .conclusion h5, .conclusion li, .conclusion p {
  color: #000;
}

.emphasized {
  font-style: italic;
  font-weight: 700;
}

/* compettive analysis */
.competitive-analysis {
  background: linear-gradient(rgba(52,112,117,1), rgba(52,112,117,0.75));
}

.competitor-logos {
  text-align: center;
}

.competitor-logos img {
  display: inline;
  margin: 3rem auto;
  padding: 0 2rem;
}

/* tablet competetive analysis */
@media screen and (max-width: 900px) {
  .competitor-logos img {
    margin: 0rem auto;
    padding: 1rem;
    width: 84px;
    height: 84px;
  }
}

/* tablet competetive analysis */
@media screen and (max-width: 600px) {
  .competitor-logos img {
    margin: 0 auto;
    padding: 1rem;
    width: 64px;
    height: 64px;
  }
}

/* user research */
.user-research {
  background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

/* personas */

.personas {
  background: linear-gradient(rgba(52, 112, 117, 1),rgba(52, 112, 117, 0.75));
}

.personas {
  display: grid;
  grid-auto-rows: minmax(20px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "personas-header ."
  "personas-body personas-image"
  "personas-button personas-image";
  margin: 1rem;
}

#personas-body ul li {
  list-style-type: square;
  margin: 1.5rem;
  text-indent: 0;
}

#personas-header {
  grid-area: personas-header;
}

#personas-body {
  grid-area: personas-body;
}

#personas-image {
  grid-area: personas-image;
  margin: 0 auto;
  width: 425px;
}

#personas-button {
  grid-area: personas-button;
}

/* tablet personas */
@media screen and (max-width: 900px) {
  .personas {
    grid-template-columns: 1fr;
    grid-template-areas:
    "personas-header"
    "personas-body"
    "personas-image"
    "personas-button";
    margin: 1rem;
  }
}

/* mobile personas */
@media screen and (max-width: 600px) {
  #personas-image {
    max-width: 90%;
  }
}

/*** information architecture section: user stories & flows ***/
.information-architecture {
  background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
}

#user-stories-button {
  margin: 2rem auto;
}

.user-flow-images {
  display: grid;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
  "onboarding upload sign-in";
  margin: 1rem auto;
}

#onboarding, #sign-in, #upload {
  margin: 0 auto;
  max-width: 100%;
}

#onboarding {
  grid-area: onboarding;
}
#sign-in {
  grid-area: sign-in;
}
#upload {
  grid-area: upload;
}

/* tablet & mobile user flows */
@media screen and (max-width: 900px) {
  .user-flow-images {
    grid-template-columns: 1fr;
    grid-template-areas:
    "onboarding"
    "sign-in"
    "upload";
    margin: 1rem auto;
  }
}

/*** visual design branding section: wireframes & branding ***/
.visual-design-branding {
  background: linear-gradient(rgba(52, 112, 117, 1),rgba(52, 112, 117, 0.75));
}

.wireframe-images {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "wf-01 wf-01 wf-01 wf-01"
  "wf-02 wf-03 wf-04 wf-05";
  margin: 2rem auto;
}

#wf-01, #wf-02, #wf-03, #wf-04, #wf-05, #hf-01, #hf-02, #hf-03, #hf-04 {
  margin: 0 auto;
  max-width: 100%;
}

#wf-01 {
  grid-area: wf-01;
}
#wf-02 {
  grid-area: wf-02;
}
#wf-03 {
  grid-area: wf-03;
}
#wf-04 {
  grid-area: wf-04;
}
#wf-05 {
  grid-area: wf-05;
}

/* tablet wireframes */
@media screen and (max-width: 900px) {
  .wireframe-images {
    grid-template-columns: 1fr;
    grid-template-areas:
    "wf-01"
    "wf-02"
    "wf-03"
    "wf-04"
    "wf-05";
  }
}

/* mobile wireframes */
@media screen and (max-width: 600px) {
  .wireframe-images {
    display: none;
  }
}

/* hi-fi mockups */
.hifi-mockup-images {
  display: grid;
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-areas:
  "hf-01 hf-02 hf-03 hf-04";
  margin: 2rem auto;
}

#hf-01 {
  grid-area: hf-01;
}
#hf-02 {
  grid-area: hf-02;
}
#hf-03 {
  grid-area: hf-03;
}
#hf-04 {
  grid-area: hf-04;
}

/* tablet hi-fi mockups */
@media screen and (max-width: 900px) {
  .hifi-mockup-images {
    grid-template-columns: 1fr;
    grid-template-areas:
    "hf-01"
    "hf-02"
    "hf-03"
    "hf-04";
  }
}

/* mobile hi-fi mockups */
@media screen and (max-width: 600px) {
  .hifi-mockup-images {
    display: none;
  }
}

/* branding */
.branding {
  display: grid;
  grid-auto-rows: minmax(10px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "branding-header ."
  "branding-body briefcase-branding"
  "branding-button briefcase-branding";
}

#briefcase-branding img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  padding-top: 1rem;
}

#briefcase-branding h5 {
  text-align: center;
}

#branding-header {
  grid-area: branding-header;
  padding: 0;
}
#branding-body {
  grid-area: branding-body;
}
#briefcase-branding {
  grid-area: briefcase-branding;
}
#branding-button {
  grid-area: branding-button;
}

/* table & mobile branding */
@media screen and (max-width: 900px) {
  .branding {
    grid-template-columns: 1fr;
    grid-template-areas:
    "branding-header"
    "branding-body"
    "briefcase-branding"
    "branding-button";
  }
}

/*** clickable prototype testing section ***/
.clickable-prototype-testing {
  background: linear-gradient(rgba(51, 51, 51, 1),rgba(51, 51, 51, 0.75));
  padding-bottom: 0;
}

.prototype {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "desktop-image mobile-image"
  "desktop-link mobile-link";
  margin-top: 2rem;
}

.prototype button {
  width: 100%;
}

#mobile-image, #desktop-link, #mobile-link {
  max-width: 100%;
}

#desktop-image, #mobile-image {
  display: block;
  margin: 0 auto;
}

#desktop-image {
  height: 210px;
}

#desktop-link, #mobile-link {
  margin-top: 2rem;
}

#desktop-image {
  grid-area: desktop-image;
}
#mobile-image {
  grid-area: mobile-image;
}
#desktop-link {
  grid-area: desktop-link;
}
#mobile-link {
  grid-area: mobile-link;
}

@media screen and (max-width: 900px) {
  .prototype {
    grid-template-columns: 1fr;
    grid-template-areas:
    "desktop-image"
    "desktop-link"
    "mobile-image"
    "mobile-link";
  }
}

@media screen and (max-width: 600px) {
  #desktop-prototype {
    display: none;
  }

  .prototype button {
    width: 90%;
  }
}

/*** conclusion section ***/
.conclusion {
  display: grid;
  grid-auto-rows: minmax(0px, auto);
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
  "conclusion-header ."
  "logo conclusion-body"
  "key-takeaways conclusion-body";
}

.conclusion > div img {
  display: block;
  margin: 0 auto;
}

.conclusion > div ul li {
  list-style-type: square;
  margin: 1.5rem;
  text-indent: 0;
}

#alt-logo {
  grid-area: logo;
}
#key-takeaways {
  grid-area: key-takeaways;
}
#conclusion-header {
  grid-area: conclusion-header;
  padding: 0;
}
#conclusion-body {
  grid-area: conclusion-body;
}

/* tablet conclusion */
@media screen and (max-width: 900px) {
.conclusion {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
  "conclusion-header"
  "logo"
  "key-takeaways"
  "conclusion-body";
  }
}

@media screen and (max-width: 600px) {
  .conclusion > div img {
    max-width: 100%;
  }
}

/*** projects carousel section ***/
.projects-carousel {
  background: linear-gradient(#43A6DE, #1D6891);
  height: 100%;
  position: relative;
  text-align: center;
}

.project-slides-container a {
  margin: 0;
  padding: 0;
}

.project-slides-container img {
  margin: 2rem auto;
}

.project-slides-container p {
  font-size: 1rem;
  line-height: 1.25rem;
}

/* mobile carousel */
@media screen and (max-width: 600px) {
  .project-slides-container img {
    width: 90%;
  }
}

/* footer */
footer {
  background: #fff;
  position: relative;
}

.copyright {
  color: #000;
}
