* {
  box-sizing: border-box;
}


/*** rem scale ***/
html {
  font-size: 16px;
}

/*** mobile rem scale ***/
@media screen and (max-width: 600px) {
  html {
    font-size: 12px;
  }
}

/*** scale for sections/divs that don't go to the width of the page ***/
.container {
  background-color: #fff;
  margin: 0 auto;
  width: 90%;
}

/*** links and button styling ***/
a {
  padding: 0 2rem;
  text-decoration: none;
}

a:hover {
  color: #000;
}

a:active {
  color: #DE9B43;
}

button a {
  color: #fff;
  text-align: center;
}

button a:active {
  color: #1D6891;
  text-align: center;
}

button, .form button {
  background-color: #DE9B43;
  border-style: none;
  box-shadow: 0 0.25rem 0.25rem 0 rgba(0, 0, 0, 0.25);
  display: inline-block;
  font-family: "Signika", sans-serif;
  font-size: 1.25rem;
  height: 2rem;
  max-width: 400px;
  width: 90%;
}

#submit {
  cursor: pointer;
}

/*** Typography ***/

h1, h2, h3, h4, h5 {
  color: #000;
  font-family: "Signika", sans-serif;
}

h1, h2 {
  color: #fff;
  font-weight: 600;
}

h3, h4, h5 {
  font-weight: 400;
}

h1 {
  font-size: 3rem;
  font-weight: 600;
  line-height: 4rem;
  max-width: 100%;
}

h2 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 100%;
}

h3 {
  font-size: 1.75rem;
  line-height: 2.25rem;
}

h4 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 3.125rem;
}

h5 {
  font-family: "Open Sans", sans-serif;
  font-size: 0.875rem;
  font-weight: 600;
  letter-spacing: 0.25rem;
}

p, ul {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  line-height: 1.5rem;
}

i {
  font-style: italic;
}

/*** structure ***/

header {
  display: inline-block;
  height: 500px;
  width: 100%;
}

/* navigation */
nav img {
  display: inline;
  float: left;
}

nav a {
  padding: 0;
}

nav {
  color: #fff;
  font-family: "Signika", sans-serif;
  font-size: 1rem;
  font-weight: 300;
  height: 4.5rem;
  margin: 2rem auto;
  max-width: 94%;
}

.nav-menu {
  margin-right: 3rem;
}

.nav-menu a {
  color: #fff;
  display: inline;
  float: right;
  margin-left: 3rem;
  max-width: 175px;
  padding-top: 1.5rem;
}

nav .icon {
  display: none;
}

nav li {
  font-weight: 600;
  line-height: 2rem;
  margin: 1rem auto;
  text-indent: 0;
}

/* tablet nav */
@media screen and (max-width: 1040px) {
  .nav-menu a {
    max-width: 100px;
  }
}

/* mobile nav */
@media screen and (max-width: 600px) {
  nav img {
    height: 48px;
    width: 48px;
  }

  nav ul {
    display: none;
  }

  nav ul.opened {
    background: linear-gradient(to bottom right, rgba(51,51,51,0.8),rgba(51,51,51,1));
    display: block;
    height: 110px;
    position: absolute;
    top: 60px;
    width: 94%;
  }

  .nav-menu {
    margin: 0 auto;
  }

  .nav-menu a {
    display: block;
    float: none;
    margin-left: 0;
    padding-top: 0;
    text-align: center;
  }

  nav ul li {
    display: block;
    height: 20px;
    margin: 1rem auto;
    width: 100px;
  }

  nav a.icon {
    color: #fff;
    display: inline;
    float: right;
    padding: 1.25rem;
    position: relative;
  }
}

/* footer */
footer {
  background: linear-gradient(#43A6DE, #1D6891);
  height: 3.25rem;
}

.copyright {
  color: #fff;
  display: inline;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 1rem;
  padding-top: 0.5rem;
}

.footer-icons {
  display: inline;
  float: right;
  padding-top: 1rem;
}

/*** landing page styling ***/
/* header animation */
@-webkit-keyframes "fade" {
 0% { opacity: 0; transform: translateY(-1rem); }
 25% { opacity: 0; transform: translateY(-0.5rem); }
 50% { opacity: 1; transform: translateY(0rem); }
 75% { opacity: 0; transform: translateY(0.5rem); }
 100% { opacity: 0; transform: translateY(1rem); }
}

.changing-word span {
  -webkit-animation: "fade" 12s infinite;
 color: #DE9B43;
 display: inline;
 position: absolute;
 opacity: 0;
}

.changing-word span:nth-child(2) {
 -webkit-animation-delay: 3s;
}

.changing-word span:nth-child(3) {
 -webkit-animation-delay: 6s;
}

.changing-word span:nth-child(4) {
 -webkit-animation-delay: 9s;
}

/* projects */
.projects {
  display: block;
}

.projects > div {
  padding-bottom: 2rem;
}

.projects > div img {
  border: none;
  display: block;
  margin: 0 auto;
  padding-top: 2rem;
}

.projects > div h4 {
  color: #fff;
  font-weight: 400;
  margin: 0.5rem;
  padding: 2rem;
  text-align: center;
}

.projects > div button {
  display: block;
  margin: 0 auto;
  text-align: center;
}

/* my process */

.my-process h3, .my-process h5 {
  margin: 2rem auto;
  text-align: center;
}

.process > div img {
  display: block;
  margin: 1rem auto;
}

.process > div p {
  margin: 1rem auto;
  max-width: 400px;
  text-align: center;
}

.process {
  display: grid;
  grid-auto-rows: minmax(350px, auto);
  grid-gap: 1rem;
  grid-template-areas:
  "listen listen research research user-determination user-determination"
  "design-feedback design-feedback design-feedback design-code design-code design-code";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  margin: 1rem;
}

.listen {
  grid-area: listen;
}

.research {
  grid-area: research;
}

.user-determination {
  grid-area: user-determination;
}

.design-feedback {
  grid-area: design-feedback;
}

.design-code {
  grid-area: design-code;
}

/* places .process into one column for mobile/tablets */
@media screen and (max-width: 900px) {
  .process {
    grid-gap: 1rem;
    grid-template-areas:
    "listen"
    "research"
    "user-determination"
    "design-feedback"
    "design-code";
    grid-template-columns: 1fr;
    margin: 0 auto;
  }
}

/* contact info */
.contact-footer {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.contact-footer h3, .contact-footer h4 {
  color: #fff;
  margin: 1rem auto;
  text-align: center;
}

.contact-footer h3 {
  font-size: 2rem;
  font-weight: 700;
}

.contact-footer h4 {
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 2.5rem;
  max-width: 750px;
}

.contact-footer p, .contact-footer ul {
  color: #fff;
  font-size: 1.25rem;
  line-height: 1.75rem;
  margin: auto 3rem;
}

.contact-footer button {
  display: block;
  margin: 1rem auto;
}

.form input, .form textarea {
  display: block;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  margin: 2% auto;
  width: 40%;
}

@media screen and (max-width: 1040px) {
  .form input, .form textarea {
    width: 80%;
  }
}

footer {
  background: linear-gradient(#43A6DE, #1D6891);
  height: 3.25rem;
}

.copyright {
  color: #fff;
  display: inline;
  float: left;
  font-family: "Open Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 300;
  margin: 1rem;
  margin-left: 4%;
  padding-top: 0.5rem;
}

.footer-icons {
  display: inline;
  float: right;
  margin-right: 1%;
  padding-top: 1rem;
}

@media screen and (max-width: 500px) {
  .footer-icons a {
    padding: 1rem;
  }
}

@media screen and (max-width: 360px) {
  .footer-icons {
    display: none;
  }

  .contact-footer h4 {
    margin: 0 auto;
  }
}
